{% extends 'main/base.html' %}
{% load static %}
{%load custom_filters%}
{% block title %}Dashboard {{ area.nome }}{% endblock %}
{% load plotly_dash %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 ">   
        <a href="{% url 'dashboard_master' %}" class="btn btn-sm btn-outline-primary">
            <i class="fas fa-arrow-left mr-1"></i> Voltar ao Dashboard Master
        </a>
    </div>

    <!-- Detalhes da Área -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4 rounded-lg">
                <div class="card-header py-3 bg-gradient-primary-to-secondary">
                    <h6 class="m-0 font-weight-bold text-white">Detalhes da Área - {{ area.nome }}</h6>
                </div>
                <div class="card-body p-4">
                    <div class="row">
                        <!-- Dynamic KPI cards based on area type -->
                        {% if area.nome == "Expansão" %}
                           
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="card shadow mb-4 rounded-lg">
                                        <div class="card-header py-3 bg-gradient-primary-to-secondary">
                                            <h6 class="m-0 font-weight-bold text-white">Comparativo Expansão</h6>
                                        </div>
                                        <div class="card-body">
                                            <div id="grafico-top5-clientes" style="height: 600px;">
                                                {% plotly_app name="ExpansaoApp" ratio=1.0 %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        {% elif area.nome == "Seguro" or area.nome == "Seguros" %}
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="card shadow mb-4 rounded-lg">
                                        <div class="card-header py-3 bg-gradient-primary-to-secondary">
                                            <h6 class="m-0 font-weight-bold text-white">Comparativo Seguro</h6>
                                        </div>
                                        <div class="card-body">
                                            <div id="grafico-top5-clientes" style="height: 600px;">
                                                {% plotly_app name="SeguroApp" ratio=1.0 %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        {% elif area.nome == "Renda Variável" %}
                            
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="card shadow mb-4 rounded-lg">
                                        <div class="card-header py-3 bg-gradient-primary-to-secondary">
                                            <h6 class="m-0 font-weight-bold text-white">Comparativo Renda Variável</h6>
                                        </div>
                                        <div class="card-body">
                                            <div id="grafico-top5-clientes" style="height: 600px;">
                                                {% plotly_app name="RendaVariavelApp" ratio=1.0 %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% elif area.nome == "Câmbio" or area.nome == "Cambio" %}
                           
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="card shadow mb-4 rounded-lg">
                                        <div class="card-header py-3 bg-gradient-primary-to-secondary">
                                            <h6 class="m-0 font-weight-bold text-white">Comparativo Cambio</h6>
                                        </div>
                                        <div class="card-body">
                                            <div id="grafico-top5-clientes" style="height: 600px;">
                                                {% plotly_app name="CambioApp" ratio=1.0 %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif area.nome == "Corporate" %}
                            
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="card shadow mb-4 rounded-lg">
                                        <div class="card-header py-3 bg-gradient-primary-to-secondary">
                                            <h6 class="m-0 font-weight-bold text-white">Comparativo Corporate</h6>
                                        </div>
                                        <div class="card-body">
                                            <div id="grafico-top5-clientes" style="height: 600px;">
                                                {% plotly_app name="CorporateApp" ratio=1.0 %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif area.nome == "Banking" %}
                           
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="card shadow mb-4 rounded-lg">
                                        <div class="card-header py-3 bg-gradient-primary-to-secondary">
                                            <h6 class="m-0 font-weight-bold text-white">Comparativo Banking</h6>
                                        </div>
                                        <div class="card-body">
                                            <div id="grafico-top5-clientes" style="height: 600px;">
                                                {% plotly_app name="BankingApp" ratio=1.0 %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif area.nome == "Marketing" %}
                            
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="card shadow mb-4 rounded-lg">
                                        <div class="card-header py-3 bg-gradient-primary-to-secondary">
                                            <h6 class="m-0 font-weight-bold text-white">Comparativo Marketing</h6>
                                        </div>
                                        <div class="card-body">
                                            <div id="grafico-top5-clientes" style="height: 600px;">
                                                {% plotly_app name="MarketingApp" ratio=1.0 %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif area.nome == "Consórcio" or area.nome == "Consorcio" %}
                            
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="card shadow mb-4 rounded-lg">
                                        <div class="card-header py-3 bg-gradient-primary-to-secondary">
                                            <h6 class="m-0 font-weight-bold text-white">Comparativo Consórcio</h6>
                                        </div>
                                        <div class="card-body">
                                            <div id="grafico-top5-clientes" style="height: 600px;">
                                                {% plotly_app name="ConsorcioApp" ratio=1.0 %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif area.nome == "Advisory" %}
                           
                            <div class="row">
                                <div class="col-xl-12 col-lg-12">
                                    <div class="card shadow mb-4 rounded-lg">
                                        <div class="card-header py-3 bg-gradient-primary-to-secondary">
                                            <h6 class="m-0 font-weight-bold text-white">Comparativo Advisory</h6>
                                        </div>
                                        <div class="card-body">
                                            <div id="grafico-top5-clientes" style="height: 600px;">
                                                {% plotly_app name="AdvisoryApp" ratio=1.0 %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Usuários da Área -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4 rounded-lg">
                <div class="card-header py-3 bg-gradient-primary-to-secondary">
                    <h6 class="m-0 font-weight-bold text-white">Informações da Área</h6>
                </div>
                <div class="card-body p-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4">
                                <h5 class="h5 mb-2 text-gray-800">Dados Gerais</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        Head da Área
                                        <span class="badge bg-primary rounded-pill">
                                            {% if area.head %}
                                                {{ area.head.get_full_name }}
                                            {% else %}
                                                Não definido
                                            {% endif %}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 